@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

:root {
  --cor-primaria: #332a1a;
  --cor-secundaria: #e5f9ef;
  --cor-terciaria: #00955a;

  --gap-lateral: 40px;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Baloo 2", sans-serif;
  color: var(--cor-primaria);
  margin:0;
}

header {

  width: 100%;

  position: fixed;
  top: 0;
}


.menu {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-style: dashed;
  border-color: aqua;
  width: 1440px;
}

.lado-esquerdo-menu {
  display: flex;
  flex-direction: row;
}

.parte-1-texto span {
  font-size: 22px;
  font-weight: 700;
}

.parte-1-texto img {
  width: 38px;
  height: 38px;
}

.parte-esquerda {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--cor-terciaria);
  line-height: 1;
}

.parte-esquerda button {
  background-color: var(--cor-secundaria);
  border-radius: 6px;
  border: none;

  height: 38px;
  width: 108px;

  display: flex;
  align-items: center;
  padding: 12px;
  gap: 5px;

  color: #00955a;
  font-size: 14px;
  font-weight: 400;

  white-space: nowrap;
}

.parte-esquerda p {
  white-space: nowrap;
}

.parte-direita {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
}

.parte-direita button {
  background-color: var(--cor-secundaria);
  border-radius: 6px;
  border: none;

  height: 38px;
  width: 38px;
}

.cafe-img {
  width: 120px;
  height: 120px;
}

.group {
  width: 485px;
  height: 570px;
}

.cafe-perfeito {
  background-image: url(recursos/imagens-proprias/foto-de-fundo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
 height: 100vh;  
}

.cafe-perfeito-texto .p-cafe-perfeito .car-texto {
  gap: 25px;
}

.cafe-perfeito-texto {
  
  display: inline-grid;
  padding-top: 239px;
}

.cafe-perfeito-texto h1 {
  
  margin-left: 144px;
  border-color: turquoise;
  border-style: groove;
}

.cafe-perfeito-texto h1 {
  display: flex;
  font-weight: 800;
  font-size: 48px;
  width: 588px;
}

.cafe-perfeito-texto .p-cafe-perfeito {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  margin-left: 144px;
  border-color: aqua;
  border-style: groove;
  width: 588px;
}

.car-texto {
  display: flex;
  gap:20px;
  border-style:inset;
  border-color:red;
  width: 567px;
  padding-left: 144px;
}

.car-texto .car-1 {
  display: flex;
  gap:12px;
  flex-direction: column;
}

.car-texto .car-2 {
  display: flex;
  gap:12px;
  flex-direction: column;
}