@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
    --cor-primaria: #332A1A;
    --cor-secundaria: #E5F9EF;
    --cor-terciaria: #00955A;

    --gap-lateral: 40px;
    --max-width: 1200px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-image: url(recursos/imagens-proprias/foto-de-fundo.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 825px;
    padding: 60px 0;
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--gap-lateral);
    font-family: "Baloo 2", sans-serif;
    color: var(--cor-primaria);
}

.topo-parte-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--gap-lateral);
}

.parte-1-texto span {
    font-size: 22px;
    font-weight: 700;
}

.parte-1-texto img{
    width: 38px;
    height: 38px;
}
.parte-2-texto {
    background-color: var(--cor-secundaria);

    width: 103px;
    height: 38px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.parte-esquerda {
    display:flex;
    align-items: center;
    gap: 8px;

    padding: 8px 14px;
    color: var(--cor-terciaria);
    line-height: 1;
}

.parte-direita {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
}




.cafe-img {
    width: 120px;
    height: 120px;
}

.group {
    width: 485px;
    height: 570px;
}